@page "/candidates"
@using Microsoft.AspNetCore.Authorization
@attribute [Authorize(Roles = "Admin")]

<button class="btn btn-primary" type="button" @onclick="CreateCandidate">Nieuwe kandidaat aanmaken</button>

@if (candidates == null)
{
<p><em>Loading...</em></p>
}
else if (candidates.Count == 0)
{
<p>Geen kandidaten gevonden.</p>
}
else
{
<table class="table">
    <thead>
    <tr>
        <th>Foto URL</th>
        <th>Naam</th>
        <th>Mol?</th>
        <th>Winnaar?</th>
        <th>Actief?</th>
        <th>Prijsgeld</th>
        <th>Acties</th>
    </tr>
    </thead>
    <tbody>
    @foreach (var candidate in candidates)
    {
    <tr>
        <td><img class="candidate-picture" src="@candidate.PhotoUrl" alt="Foto van @candidate.Name" /></td>
        <td>@candidate.Name</td>
        <td>@(candidate.IsMol ? "Ja" : "Nee")</td>
        <td>@(candidate.IsWinner ? "Ja" : "Nee")</td>
        <td>@(candidate.IsActive ? "Ja" : "Nee")</td>
        <td>@(candidate.ContributedPrizeMoney)</td>
        <td>
            <button class="btn btn-primary" @onclick="() => EditCandidate(candidate.Id)">Bewerken</button>
        </td>
    </tr>
    }
    </tbody>
</table>
}